.main {
  width: 100%;
  min-height: 300px;
  margin: 20px 10px;
}
.item {
  margin-bottom: 20px;
}
.item span {
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-right: 10px;
}
.item input{
  border: 1px solid #ccc;
  width: 300px;
  /*height: 40px;*/
  padding: 5px;
  border-radius: 3px;
  /*box-shadow: 0 1px 2px 0 rgba(55,55,66,0.25);*/
  font-size: 1em;
}
.item input:focus {
  border: 1px solid rgba(00,00,00,0.3);
}
.main button {
  padding: 3px;
  width: 60px;
  margin-left: 105px;
  font-size: 16px;
  border: 1px solid rgba(35,35,38,0.25);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 0 0 rgba(55,55,66,0.7);
}
.main button:hover {
  /*background-color: #f2f2f2;*/
  background-color: #f9f9e5;
  border: 1px solid rgba(35,35,38,0.5);
}
.main button:focus {
  outline: none;
}
.warning {
  color: #a94342;
  margin-top: 10px;
  margin-left: 105px;
  font-size: 1em;
}
.saveResult {
  color: #a94342;
  font-size: 1.2em;
  margin-left: 105px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .item input {
    width: 60%;
  }
}
