
.main {
  /*background: #f2f2e2;*/
  width: 100%;
  min-height: 500px;
  padding-bottom: 150px;
}
.content {
  width: 65%;
  margin: 0 auto;
}
.sidebar {
  float: right;
  width: 25%;
  margin-right: 7px;
}
.wrapper {
  width: 73%;
}
.articleList {
  border-bottom: 1px solid #DDD;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(35,35,38,0.25);
}
.footer {
  width: 65%;
  position: absolute;
  bottom: 0;
}
.footer-inner {
  float: right;
  width: 73%;
}



@media (max-width: 767px)  {
  .main {
    padding-bottom: 0;
  }
  .content {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .footer {
    display: none;
  }
}
