.main {
  width: 100%;
  padding: 20px 10px;
}
.item {
  margin-bottom: 20px;
}
.item span {
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-right: 10px;
}
.item a {
  color: #2c3f51;
}
.item a:hover {
  color: #000;
}
