<div class="main">
  <div class="item">
    <span>原密码</span>
    <input type="password" [(ngModel)]="originalPassword" name="originalPassword" (ngModelChange)="valueChange()" (click)="valueChange()">
    <div *ngIf="originalPasswordMsg" class="warning">{{originalPasswordMsg}}</div>
  </div>
  <div class="item">
    <span>新密码</span>
    <input type="password" [(ngModel)]="newPassword" name="newPassword1" (ngModelChange)="valueChange()" (click)="valueChange()">
  </div>
  <div class="item">
    <span>重复新密码</span>
    <input type="password" [(ngModel)]="repeatPassword" (ngModelChange)="valueChange()" (click)="valueChange()">
    <div *ngIf="newPasswordMsg" class="warning">{{newPasswordMsg}}</div>
  </div>
  <button class="sumbit" (click)="changePassword()">确认</button>
  <div *ngIf="errorMsg" class="errorMsg">
    {{ errorMsg }}
  </div>
  <div *ngIf="successMsg" class="successMsg">
    {{ successMsg }}
  </div>
</div>
